/*
CSS for nrt.gxstudios.net/questions.php
*/

/* General Rules */

input.submitanswers {
  font-size: 28pt;
}

select {
  font-size: 16pt;
  overflow: scroll;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 300px;
}

td {
  font-size: 16pt;
  padding: 5px;
}

/* Rules for the grouptext div */

#grouptext {
  font-size: 28pt;
  margin-left: auto;
  margin-right: auto;
  width: 600px;
}

/* Rules for the instructions div */

#instructions {
  font-size: 16pt;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  width: 600px;
}

/* Rules for the questions div */

#questions {
  border: 2px solid black;
  border-radius: 25px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  width: 900px;
}

/* Rules for the questionstable table */

#questionstable {
  margin: auto;
}

/* Rules for the submitanswers div */

#submitanswersdiv {
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  text-align: center;
  width: 900px;
}
